@import url("./format.css");

body {
    background-color: rgb(60, 60, 60);
    color: white;
    overflow: hidden;
    font-family: "ArialPro";
}
 
input, button {
    border: none;
    outline: none;
    
    padding: 0;
}

button {
    cursor: pointer;
}

* {
    font-weight: 300;
    font-family: "ArialPro";
    font-size: 100%;
}

basic {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(50, 50, 50);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;

    width: 100%;
    height: 75%;
}

basic * {
    background-color: white;
    
    text-align: center;
    font-size: 6vh;

    width: 95%;
}

topbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 4vh;
    background-color: rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(2px);

    box-sizing: border-box;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

topbar > div {
    height: 100%;

    display: flex;
    flex-direction: row;
    gap: 0.75vw;
    align-items: center;
    overflow: hidden;
}

topbar > div[onclick] {
    cursor: pointer;
}

topbar img {
    height: 4vh;
}

vr {
    width: 1px;
    height: 50%;
    background-color: #fff;
    margin: 0 1vh;
}

.Header {
    font-weight: 600;
    font-size: 3vh;
}

@media only screen and (max-width: 768px) {
    .Header {
        display: none;
    }
}

i {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    height: 1em;
    width: 1em;
    background-color: #fff;
    animation: spin 1s ease infinite;
    transition: all 0.5s ease;
}

i:before,
i:after {
    content: '';
    position: absolute;
    height: 1em;
    width: 1em;
    background: inherit;
    animation: spin 1s ease infinite;
}

i:before {
    left: -2em;
}

i:after {
    left: 2em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

@font-face {
    font-family: "ArialPro";
    src: url("./fonts/Arial.TTF") format("truetype");
}